html {
  font-size: 62.5%; /*default 16px x 62.5 = 10px = 1rem*/
  box-sizing: border-box; /*easier manage boxes padding borders margins*/
}
body {
  margin: 0;
  height: 100vh; /*100 view port height*/
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%; /*because we have a div in index.html id=root and want 100% height*/
}
/*Layout*/
.grid-container {
  display: grid; /*new system very responsive*/
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; /*50px for header rest for main and 50 for footer*/
  height: 100%;
}
header {
  grid-area: header; /*place this in place holder of above*/
  background-color: #203040;
}
main {
  grid-area: main; /*connect grid area to main*/
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/*common calss*/
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none; /*remove underlines*/
}
a:hover {
  /*if hover on link then orange color*/
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none; /*get rid of bullet points*/
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border:0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  background-color: #f8f8f8;
  cursor: pointer;
}
button.primary{
  background-color: #f0c040;
}
button.block{
  width:100%;
}
input:hover,
select:hover,
textarea:hover,
button:hover{
  border:0.1rem #404040 solid;
}
/*header*/
header a {
  /*all links inside header*/
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  /*different font for our brand*/
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge{
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem; /*4px vertically 7px horizontally*/
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap; /*set rows responsive. if not enough space go to next line*/
  justify-content: space-between; /*max distance in a row*/
  align-items: center; /*vertically center*/
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start; /*stick all items to top*/
}
.col-1 {
  flex: 1 1 25rem; /*occupy 1 of 4 and make it shrinkable and width 250px*/
}
.col-2 {
  flex: 2 1 50rem;
}
/*image*/
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large{/*make it responsive for other devices*/
  width:100%;
}
/*card*/
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  /*for all children of card body*/
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/*rating*/
.rating span {
  /*all spans in rating*/
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/*alert*/
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger{
  color: #a02020;
  background-color: #ffe0e030;
}